<%= text_field(:player, :name, :size => 15, :placeholder => 'Name') %>

<%= radio_button_tag(:team, 1) %>
<%= label_tag(:team_1, "Team 1") %>
<%= radio_button_tag(:team, 2) %>
<%= label_tag(:team_2, "Team 2") %>
<button id="add_player_submit"type="button" class="btn btn-success">Add Player</button>