<%@game.players.each do |p| %>
	<% if p.team == 1 %>
	<h3><%=p.name%></h3>
		<div class="scorecard" data-player-id="<%=p.id%>">
			<div class="bigbox"> 
				<select class="score_select" id="score_select_1_p<%=p.id%>" data-score-value="<%=p.score_card.throw1%>" data-player-id="<%=p.id%>" data-throw-id="1">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select"id="score_select_2_p<%=p.id%>" data-score-value="<%=p.score_card.throw2%>" data-player-id="<%=p.id%>" data-throw-id="2">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s1_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select"id="score_select_3_p<%=p.id%>" data-score-value="<%=p.score_card.throw3%>" data-player-id="<%=p.id%>" data-throw-id="3">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_4_p<%=p.id%>" data-score-value="<%=p.score_card.throw4%>" data-player-id="<%=p.id%>" data-throw-id="4">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s2_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_5_p<%=p.id%>" data-score-value="<%=p.score_card.throw5%>" data-player-id="<%=p.id%>" data-throw-id="5">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_6_p<%=p.id%>" data-score-value="<%=p.score_card.throw6%>" data-player-id="<%=p.id%>" data-throw-id="6">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s3_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_7_p<%=p.id%>" data-score-value="<%=p.score_card.throw7%>" data-player-id="<%=p.id%>" data-throw-id="7">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_8_p<%=p.id%>" data-score-value="<%=p.score_card.throw8%>" data-player-id="<%=p.id%>" data-throw-id="8">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s4_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_9_p<%=p.id%>" data-score-value="<%=p.score_card.throw9%>" data-player-id="<%=p.id%>" data-throw-id="9">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_10_p<%=p.id%>" data-score-value="<%=p.score_card.throw10%>" data-player-id="<%=p.id%>" data-throw-id="10">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s5_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_11_p<%=p.id%>" data-score-value="<%=p.score_card.throw11%>" data-player-id="<%=p.id%>" data-throw-id="11">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_12_p<%=p.id%>" data-score-value="<%=p.score_card.throw12%>" data-player-id="<%=p.id%>" data-throw-id="12">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s6_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_13_p<%=p.id%>" data-score-value="<%=p.score_card.throw13%>" data-player-id="<%=p.id%>" data-throw-id="13">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_14_p<%=p.id%>" data-score-value="<%=p.score_card.throw14%>" data-player-id="<%=p.id%>" data-throw-id="14">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s7_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_15_p<%=p.id%>" data-score-value="<%=p.score_card.throw15%>" data-player-id="<%=p.id%>" data-throw-id="15">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_16_p<%=p.id%>" data-score-value="<%=p.score_card.throw16%>" data-player-id="<%=p.id%>" data-throw-id="16">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s8_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_17_p<%=p.id%>" data-score-value="<%=p.score_card.throw17%>" data-player-id="<%=p.id%>" data-throw-id="17">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_18_p<%=p.id%>" data-score-value="<%=p.score_card.throw18%>" data-player-id="<%=p.id%>" data-throw-id="18">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s9_p<%=p.id%>"></h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_19_p<%=p.id%>" data-score-value="<%=p.score_card.throw19%>" data-player-id="<%=p.id%>" data-throw-id="19">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_20_p<%=p.id%>" data-score-value="<%=p.score_card.throw20%>" data-player-id="<%=p.id%>" data-throw-id="20">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_21_p<%=p.id%>" data-score-value="<%=p.score_card.throw21%>" data-player-id="<%=p.id%>" data-throw-id="21">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s10_p<%=p.id%>"></h2>
			</div>
			
			<div class="bigbox"> 
				<h1 class="total_score" id="total_score_p<%=p.id%>">
					<%= render :partial => 'total', locals: {total: @total}%>
				</h1>
			</div>
		</div>
	<% end %>
<% end %>