<%@game.players.each do |p| %>
	<% if p.team == 1 %>
	<h3><%=p.name%></h3>
		<div class="scorecard">
			<div class="bigbox"> 
				<select class="score_select" id="score_select_1_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select"id="score_select_2_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s1_p<%=p.id%>">22</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select"id="score_select_3_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_4_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s2_p<%=p.id%>">23</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_5_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_6_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s3_p<%=p.id%>">12</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_7_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_8_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s4_p<%=p.id%>">141</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_9_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_10_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s5_p<%=p.id%>">122</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_11_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_12_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s6_p<%=p.id%>">154</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_13_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_14_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s7_p<%=p.id%>">192</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_15_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_16_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s8_p<%=p.id%>">200</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_17_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_18_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s9_p<%=p.id%>">222</h2>
			</div>
			<div class="bigbox"> 
				<select class="score_select" id="score_select_19_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_20_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<select class="score_select" id="score_select_21_p<%=p.id%>">
					<%11.times do |o|%>
						<option><%=o%></option>
					<%end%>
				</select>
				<h2 class="score" id="s10_p<%=p.id%>">243</h2>
			</div>
			
			<div class="bigbox"> 
				<h1 class="total_score" id="total_score_p<%=p.id%>">300</h2>
			</div>
		</div>
	<% end %>
<% end %>